*{
  margin: 0px;
  padding: 0px;
}

/* sectioning */

body {
  margin: 10px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  text-align: center;
}


#home-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.reviews {
  flex: 2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.review {
  flex: 25%;
  padding: 10px;
  margin: 50px;
}

.lists {
  flex: 1;
  padding: 20px;
}

/* nav */


/* text */


/* images */

.logo img {
  width: 5%;
}

/* buttons */


/* other */
