*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "arcade-classic";
  src: url("assets/arcade-classic.TTF");
}

@font-face {
  font-family: "pixel-scapes";
  src: url("assets/pixel-scapes.ttf");
}

/* sectioning */

body {
  font-family: "pixel-scapes";
  background-color: #fff5f9;
}

main {
  padding: 15px;
}


#home-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
}

.reviews {
  flex: 2;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.review {
  padding: 20px;
  margin: 40px;
  background-color: white;
  /*width: 100%; */
  box-shadow: 0 4px 8px 0 rgba(241, 97, 146, 0.23); 
  transition: 0.3s;
  border-radius: 5px;
}

.review:hover {
  box-shadow: 0 12px 24px 0 rgba(241, 97, 146, 0.25)
}

.lists {
  flex: 1;
  padding: 20px;
}

#intro {
  text-align: center;
}

.book-heading {
  display: flex;
  gap: 20px;
  padding: 5px;
  align-items: flex-end;
}

.review-page {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-content: center;
}

.review-page .actual-review {
  flex: 4;
  padding: 10px;
}

.review-page .other-reviews {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.lists-page {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-content: center;
}

.lists-page .lists-div {
  flex: 4;
  padding: 5px;
}

.lists-page .other-reviews {
  flex: 1
  padding: 10px;
  text-align: center;
}

/* nav */

.nav {
  overflow: hidden;
}

.nav a {
  float: left;
  text-decoration: none;
  color: #F16192;
  padding: 26px 16px;
  text-align: center;
  font-size: 25px;
}

.nav a.nav-link:hover {
  color: #ffbce9;
  padding: 30px 16px;
  text-align: center;
}

.nav a#right-nav {
  float: right;
  color: #F16192;
}

.nav a.logo img {
  width: 26px;
}

/* text */

h1 {
  color: #F16192;
}

h2 {
  color: #F16192;
}

h3 {
  color: #e691ae;
}

p {
  color: #e691ae;
  text-indent: 2em;
  line-height: 1.75;
}

.review h2 {
  max-width: 150px;
  padding-bottom: 3px;
}

.list-subheader {
  font-size: 25px;
}

.review-body, .list-body {
  padding: 5px;
}

#intro h1 {
  font-size: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #F16192;
  
}

#intro br {
  margin: 20px;
}


/* images */

.review img.book-img {
  width: 130px;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding-bottom: 10px;
}

.review img.stars {
  max-width: 150px;
  object-fit: contain;
}

.book-heading img {
  width: 15%;
  text-align: center;
  border-radius: 5px;
}



/* buttons */


/* other */

.list-link {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #e691ae;
  padding: 15px;
  font-size: 18px;
}



@media (max-width: 800px) {
  #home-page {
    flex-direction: column;
  }
  .review-page {
    flex-direction: column;
  }
  .lists-page {
    flex-direction: column;
  }
  .nav a#right-nav {
    float: left;
  }
}