*{
  margin: 0px;
  padding: 0px;
}

/* sectioning */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


#home-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.reviews {
  flex: 2;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.review {
  flex: 25%;
  padding: 10px;
  margin: 50px;
}

.lists {
  flex: 1;
  padding: 20px;
}

#intro {
  text-align: center;
}





/* nav */

.nav {
  overflow: hidden;
  background-color: #ffbce9;
}

.nav a {
  float: left;
  text-decoration: none;
  color: #f4f4f4;
  padding: 26px 16px;
  text-align: center;
  font-size: 25px;
}

.nav a.nav-link:hover {
  background-color: #cc3e73;
  padding: 30px 16px;
  text-align: center;
}

.nav a#right-nav {
  float: right;
  color: #f4f4f4;
}

.nav a.logo img {
  width: 26px;
}

/* text */


/* images */

/* buttons */


/* other */
